html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#topmenu {
    display: flex;
    background-color: #302f2f;
    margin: 0;
}
#topmenu li:hover{
    color: aqua;
    cursor: pointer;
}
#topmenu li{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
}
#topmenu li:first-child {
    margin-right: auto;

    }
    .section {
        display: flex;
        height: 33vh;
        background-color: #22d271;
    }
    .centralize {
        margin: auto;
        text-align: center;
    }
    .bt {
        background-color: #c64e63;
        border-radius: 5px;
        color: white;
        padding: 11px;
        border: 4px solid;
            border-image: linear-gradient(135deg,#ff00009c 0%,#ff00aa93 100%) 1;
    }
    button:hover{
        background-color: rgb(255, 0, 191);
        cursor: pointer;
    }
    .section2 {
        display: flex;
        background-color: white;
    }
    .imagemprojeto {
        width: 15vh;
        height: 15vh;
        padding-left: 15px;
    }
    .section3 {
        display: flex;
        background-color: #e2e3ea;
    }
    .section4 {
        display: flex;
        background-color: white;
    }
    footer {
        background-color: black;
        padding: 30px;
        color: white;
    }
    h5:hover{
        color: aqua;
        cursor: pointer;
    }